.nc-workbench-page .nc-workbench-appRegister {
  height: calc(100vh - 160px);
  .nc-workbench-ownpage-left {
    height: 100%;
    .appRegister-searchTree {
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
    }
  }
  .nc-workbench-ownpage-right {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    .ant-form {
      padding: 24px;
      background: #fbfbfb;
      border-radius: 6px;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-with-help {
      margin-bottom: 0;
    }
    .ant-form-explain {
      font-size: 12px;
    }
    .ant-checkbox-disabled + span {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-form-item-label {
      min-width: 96px;
    }
    .ant-checkbox-wrapper {
      margin-left: 70px;
    }
  }
}
