.nc-workbench-home-container {
	.title {
		font-size: 1.2rem;
	}
	.widget-container {
		margin: 12px;
		border: 1px solid #f4f4f4;
		border-radius: 4px;
		background: #ffffff;
		overflow: hidden;
	}
}
