body {
	background-color: #f0f2f5;
}
.nc-workbench-appRegister {
	.ant-layout {
		background: #ffffff;
	}
	.add{
		float: right;
		background: lightcoral;
		color: white;
		padding:2px;
	}
	& > .ant-layout {
		border: 1px solid #edecec;
		border-radius: 4px;
	}
    .ant-btn{
		float: right;
		margin-bottom: 10px;
		z-index: 100;
		&:hover{
			color: lightcoral;
			background: lightcoral;
			cursor: pointer;
		}
	}
	.ant-layout-sider {
		border-right: 1px solid #edecec;
	}

}
