.template-setting-page {
	margin-top: 90px;
	.template-setting-steps {
		margin-left: 20%;
		margin-right: 20%;
		height: 50px;
		.ant-steps-item-process .ant-steps-item-title:after {
			background-color: rgba(204, 204, 204, 1);
		}
	}
	.template-setting-header {
		height: 60px;
		margin-left: 10%;
		margin-right: 10%;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		.header-name {
			font-family: 'PingFangSC-Regular', 'PingFang SC';
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
		}
		button {
			margin-right: 10px;
		}
	}
	.template-setting-container {
		display: flex;
		flex-flow: row;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5px;

		.template-setting-content {
			flex: 1;
			.area-item {
				background: #fff;
				border-radius: 4px;
				border: 1px solid rgba(204, 204, 204, 1);
				margin-bottom: 10px;
				.area-item-header {
					display: flex;
					justify-content: space-between;
					height: 45px;
					padding: 5px 5px 0;
					border-bottom: 1px solid rgba(204, 204, 204, 1);
					.area-item-name {
						font-family: 'PingFangSC-Regular', 'PingFang SC';
						font-weight: 400;
						font-size: 16px;
					}
					.area-item-button {
						button {
							margin-right: 5px;
						}
					}
				}
				.area-item-content {
					padding: 0 5px;
					.property-item {
						transition: all .2s ease-out;
						position: relative;
						padding: 0 5px;
						margin-top: 5px;
						margin-bottom: 5px;
						width: 25%;
						border-radius: 4px;
						display: inline-block;
						line-height: 32px;
						.select-card {
							background-color: rgba(0, 153, 255, 0.349019607843137);
						}
						div {
							text-align: center;
							border: 1px solid #fff;
							transition: all .2s ease-out;
							color: #474d54;
							cursor: move;
							background-color: rgba(9, 44, 66, .08);
							.delete-card {
								position: absolute;
								right: 0px;
								top: -5px;
								width: 20px;
								height: 20px;
								line-height: 20px;
								text-align: center;
								border-radius: 10px;
								display: inline-block;
								color: #fff;
								background-color: rgba(204, 204, 204, 1);
								cursor: pointer;
							}
						}
						// .normal-card:hover {
						// 	background-color: rgba(0, 153, 255, 0.149019607843137);
						// }
					}
				}
			}
		}
		.template-setting-right-sider {
			width: 322px;
			background: #fff;
			margin-left: 5px;
			.ant-tabs-tabpane{
				height: calc(100vh - 50px - 60px - 20px - 90px - 30px - 50px);
				overflow-y: auto;
			}
			.basic-property {
				display: flex;
				flex-wrap: wrap;
				li:nth-child(odd){
					list-style-type: none;
					width: 30%;
					display: inline-block;
					line-height: 30px;
					/* border-color: rgba(235, 235, 235, 1); */
					border-bottom: 1px solid rgba(235, 235, 235, 1);
				}
				li:nth-child(even){
					list-style-type: none;
					width: 70%;
					display: inline-block;
					line-height: 30px;
					/* border-color: rgba(235, 235, 235, 1); */
					border-bottom: 1px solid rgba(235, 235, 235, 1);
				}
				.metapath {
					word-wrap: break-word;
					line-height: 20px!important;
					margin-top: 15px;
					// line-height: 1.5;
					// height: 1.5;
					// padding: 10px 20px;
				}
				
			}
		}
	}
}
.template-setting-left-sider {
	// height: calc(100vh - 90px - 50px - 60px);
	background: #fff;
}

.template-setting-sider {
	border: 1px solid rgba(204, 204, 204, 1);
	border-radius: 4px;
	.sider-content {
		margin: 5px;
		.sider-search {
			text-align: center;
			input {
				border-top: none;
				border-right: none;
				border-left: none;
			}
			input:hover {
				box-shadow: none;
			}
			input:focus {
				box-shadow: none;
			}
			span.ant-input-group-addon {
				cursor: pointer;
				background: #fff;
				border: 1px solid #d9d9d9;
				border-radius: 16px;
				padding: 0 8px;
			}
			span.ant-input-group-addon:hover {
				border-color: #40a9ff;
			}
		}
		.sider-tab {
			text-align: center;
		}
		.sider-tree {
			height: calc(70vh - 100px - 100px);
			overflow-y: auto;
		}
	}
}
.add-not-meta-data {
	.ant-modal-body {
		display: flex;
		align-items: center;
		input {
			width: 300px;
		}
	}
}

// 弹框
.myModal {
	.ant-modal-content {
		left: -280px;
		width: 1100px;
	}
	.ant-modal-body {
		max-width: 1100px;
		overflow-x: scroll;
		.u-table-content {
			min-height: 200px;
		}
		// 预览表头
		.area {
			margin-top: 10px;
			.descrip {
				display: block;
				border-bottom: 1px solid #e8e8e8;
				padding: 16px 24px;
				/* &::after{
				content: '';
				border: 2px solid #eee;
				display: block;
			} */
			}
		}
	}
	.ant-table-tbody > tr > td,
	.ant-table-thead > tr > th {
		padding: 10px;
	}
}
	.interModal{
		.ant-modal-body{
			display: flex;
			.ant-input{
				margin-left: 10px;
				width: 30%;
			    margin-right: 20px;
			}
		}
	}
 .moneyModal{
	 .descrip_label{
		 padding:10px;
		 margin-bottom: 10px;
		 border-bottom: 1px solid #eee;
	 }
	 .mdcontent{
		 display: flex;
		 div{
			 width: 50%;
			 span{
				 display: inline-block;
				 min-width: 73px;
				 text-align: right;
			 }
		 }
	 }
	 .ant-input{
				max-width: 60%;
			    margin-right: 20px;
			}
 }
 .referModal{
	 .descrip_label{
		 padding:10px;
		 margin-bottom: 10px;
		 border-bottom: 1px solid #eee;
		 font-weight: bold;
	 }
	 .mdcontent{
		 display: flex;
		 div{
			 span{
				 display: inline-block;
				 margin-right: 10px;
				 text-align: right;
			 }
		 }
	 }
	 .ant-input{
				max-width: 60%;
			    margin-right: 20px;
			}
	}
 .moneyModal{
	 .descrip_label{
		 padding:10px;
		 margin-bottom: 10px;
		 border-bottom: 1px solid #eee;
		 font-weight: bold;
	 }
	 .mdcontent{
		 display: flex;
		 div{
			 width: 50%;
			 span{
				 display: inline-block;
				 min-width: 73px;
				 text-align: right;
				 margin-right: 10px;
			 }
		 }
	 }
	 .ant-input{
				max-width: 55%;
			    margin-right: 20px;
			}
 }
