body {
	background-color: #f0f2f5;
}
.nc-workbench-appRegister {
	.ant-layout {
		background: #ffffff;
	}
	& > .ant-layout {
		border: 1px solid #edecec;
		border-radius: 4px;
	}
	.ant-layout-header {
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		background: #ffffff;
		border-bottom: 1px solid #edecec;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
    .ant-btn{
		float: right;
		margin: 10px 0;
		z-index: 100;
		&:hover{
			color: lightcoral;
			background: lightcoral;
			cursor: pointer;
		}
	}
	// 间隙 
	.gap{
		 background:#f0f2f5;
		 height:20px;
		 margin:0 -20px; 
	}
	.ant-layout-sider {
		border-right: 1px solid #edecec;
	}
        
	.from-card .ant-form-item {
		display: flex;
	}

	.from-card .ant-form-item-control-wrapper {
		flex: 1;
	}
	.margin-left-10{
		margin-left:10px;
	}
	.ant-form-item-label {
		min-width: 96px;
	}
	// 按钮 
	.btn_span{
		cursor: pointer;
		display: inline-block;
		margin-right: 10px;
	}
	.myHead{
		display: flex;
		width: 100%;
		& >div{
			width: 50%;
		}
	}
}
