#ncc .nc-workbench-layout {
	.nc-workbench-page {
		margin-top: 80px;
		height: calc(100vh - 85px);
		padding: 10px 0 0;
		.nc-workbench-ownpage {
			min-width: 900px;
		}
		.nc-workbench-ownpage-all {
			display: flex;
			justify-content: flex-start;
		}
		.nc-workbench-ownpage-left {
			position: relative;
			min-height: 200px;
			min-width: 200px;
			.layout-drag-block {
				position: absolute;
				right: 0;
				z-index: 1;
				top: 50%;
				transform: translate(0 -50%);
				display: block;
				width: 8px;
				height: 88px;
				background: #000000;
			}
		}
		.nc-workbench-ownpage-right {
			flex: 1;
		}
	}
	@media screen and (min-width: 1280px) {
		.nc-workbench-page {
			padding: 10px 90px 0;
		}
	}
	@media screen and (min-width: 1440px) {
		.nc-workbench-page {
			padding: 10px 120px 0;
		}
	}
	@media screen and (min-width: 1600px) {
		.nc-workbench-page {
			padding: 10px 125px 0;
		}
	}
}
