.nc-workbench-menuitem{
    height: 100%;
    background: #ffffff;
    .menuitem-tree-search{
        padding: 15px 20px;
    }
    .nc-workbench-menuitem-form{
        padding: 15px 60px;
        min-width: 300px;
    }
}