.nc-workbench-home-container {
	background: #e6e9e9;
	padding: 50px 23px 48px;

	.group-item {
		width: 100%;
		margin-bottom: 10px;
		cursor: move;
		position: relative;

		.group-item-container {
			padding: 10px 20px 0 20px;
			.group-item-icon {
				font-size: 20px;
			}
			.group-item-title-container-edit {
				.group-item-title-left {
					display: flex;
					align-items: center;
					i {
						margin-left: 5px;
						cursor: pointer;
					}
				}
			}
			.group-item-title-container-no-edit {
				.group-item-title-left {
					i {
						margin-left: 23px;
					}
				}
				.group-item-title-right {
					.group-item-title-edit {
						display: inline-table;
						i {
							margin-left: 23px;
							cursor: pointer;
						}
					}
				}
			}
			#card-container {
				.card {
					.card-footer {
						position: absolute;
						height: 35px;
						width: 100%;
						padding: 7px 8px;
						bottom: 0;
						background: #f2f2f2;
						.card-delete {
							font-size: 19px;
							float: right;
							line-height: 21px;
							cursor: pointer;
						}
					}
				}
			}
		}

		.group-item-add {
			width: 100%;
			border: 1px solid rgba(78, 89, 104, .25);
		}
	}
}
.nc-workbench-home-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	.footer-container {
		width: 100%;
		height: 48px;
		padding: 10px 0;
		padding-left: 75px;
		position: relative;
		background: rgba(43, 55, 66, .6);
	}
}
