.nc-workbench-home-container {
	background: #e6e9e9;
    padding: 50px 23px 0;
    
	.group-item {
		width: 100%;
		margin-bottom: 10px;
		cursor: move;
        position: relative;
        
		.group-item-container {
            padding: .5rem 0 0.5rem 4rem;
            .group-item-icon{
                font-size: 20px;
            }
            .group-item-title-container-edit{
                .group-item-title-left{
                    display: flex;
                    align-items:center;
                    i {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
            .group-item-title-container-no-edit{
                .group-item-title-left{
                    i{
                        margin-left: 23px;
                    }
                }
                .group-item-title-right{
                    .group-item-title-edit{
                        display: inline-table;
                        i {
                            margin-left: 23px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        .group-item-add{
            width: 100%;
            border: 1px solid rgba(78, 89, 104, .25);
        }
	}
}
