.nc-workbench-menuitem{
    height: 100%;
    background: #ffffff;
    .nc-workbench-menuitem-card{
        .menuitem-card-title{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            border-bottom:1px solid #edecec;
        }
    }
}