body {
	background-color: #f0f2f5;
}
.nc-workbench-appRegister {
	.ant-layout {
		background: #ffffff;
	}
	& > .ant-layout {
		border: 1px solid #edecec;
		border-radius: 4px;
	}
	.ant-layout-header {
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		background: #ffffff;
		border-bottom: 1px solid #edecec;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.ant-layout-sider {
		border-right: 1px solid #edecec;
	}
	.from-card {
		padding: 24px;
		background: #fbfbfb;
		// border: 1px solid #d9d9d9;
		border-radius: 6px;
	}

	.from-card .ant-form-item {
		display: flex;
	}

	.from-card .ant-form-item-control-wrapper {
		flex: 1;
	}
	.ant-form-item {
		margin-bottom: 16px;
	}
	.ant-form-item-with-help {
		margin-bottom: 0;
	}
	.ant-form-explain {
		font-size: 12px;
	}
	.ant-checkbox-disabled + span {
		color: rgba(0, 0, 0, .65);
	}
	.ant-form-item-label {
		min-width: 96px;
	}
	.ant-checkbox-wrapper {
		margin-left: 70px;
	}
}
.ant-modal-mask{
	background: none;
}
.template-code-add{
	.template-item{
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 80px;
		label{
			min-width: 80px;
			text-align: right;
		}
		input{
			width: 220px;
		}
		span{
			width: 220px;
		}
	}
}
// 预览弹框
.previewModal {
	.ant-modal-content {
		left: -280px;
		width: 1100px;
	}
	.ant-modal-body {
		max-width: 1100px;
		overflow-x: scroll;
		.u-table-content {
			min-height: 200px;
		}
		// 预览表头
		.area {
			margin-top: 10px;
			.descrip {
				display: block;
				border-bottom: 1px solid #e8e8e8;
				padding: 16px 24px;
				/* &::after{
				content: '';
				border: 2px solid #eee;
				display: block;
			} */
			}
		}
	}
	.ant-table-tbody > tr > td,
	.ant-table-thead > tr > th {
		padding: 10px;
	}
}